#header
{
    background-color: #303030;
    color:white;
    padding:1%;
    
    
}

body
{
    background-color:#80aaff ;
}

#purbtn
{
    margin-left: auto;
    
    
}
/* <!--For git commit-->*/
/* <!--For git commit-->*/